@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 440px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 50px;
}

.titulo {
    text-align: center;
}

.calculador {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    background: #3d3a3af4;
}

.btn-eq:hover {
    background: rgba(30, 30, 143, 0.55);
}